<footer class="footer bg-dark py-3 mt-auto">           <!-- mt-auto makes the margit top auto foot er sticks to bottom-->
    <div class="container">
        <span class="text-light">&copy;YelpCAMP2025</span>
    </div>
</footer>